@mixin btn($class,$bg,$color){
    .btn-#{$class} {
      &:focus {
        background-color: $bg;
        box-shadow: 0 0 0 2px rgba(204, 204, 204, 0.5);
      }
  
      &:hover,
      &:active:hover {
        background-color: darken($bg, 6%);
      }
  
      &:active {
        box-shadow: 2px 2px 4px rgba(0,0,0,.4);
      }
  
      @include ripple($color);
    }
  
    .btn-outline-#{$class} {
      @include ripple($color);
    }
  }
  
  @include btn(primary,$primary,$gray-500);
  @include btn(secondary,$secondary,$gray-500);
  @include btn(success,$success,$white);
  @include btn(info,$info,$white);
  @include btn(warning,$warning,$white);
  @include btn(danger,$danger,$white);
  @include btn(dark,$dark,$white);
  @include btn(light,$light,$white);
  
  .btn {
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.08), 0 4px 4px 0 rgba(8,154,214,0.24);
    transition: all 0.4s;
    border-radius: 2px;
    font-size: 14px;
  
    &-link {
      box-shadow: none;
      color: $link-color;
  
      &:hover,
      &:focus {
        box-shadow: none;
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }
  
      &.disabled, // Although btn-link is intended for buttons, which want to look like link, I include here a.disable for the sake of consistency
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:active:hover {
          color: $btn-link-disabled-color;
          text-decoration: none;
        }
      }
    }
  
    &-secondary {
      &.disabled,
      &[disabled],
      fieldset[disabled] & {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.4);
        opacity: 1;
  
        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
    }
  
    &-outline-secondary {
      border-color: $gray-200;
      color: $gray-300;
    }
  
    &-warning {
      color: $white;
    }
  
    &.dropdown-toggle::before {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.3em;
      vertical-align: middle;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-left: 0.3em solid transparent;
    }
  }
  
  .btn-group {
    .btn + .btn,
    .btn + .btn-group,
    .btn-group + .btn,
    .btn-group + .btn-group {
      margin-left: 0;
    }
  
    &-vertical {
      > .btn + .btn,
      > .btn + .btn-group,
      > .btn-group + .btn,
      > .btn-group + .btn-group {
        margin-top: 0;
      }
    }
  }
  
  .border-secondary {
    border: 1px solid #dfdfdf !important;
  }