.close {
    line-height: 0.5;
    opacity: 0.6;
    transition: all 0.2s;
  
    &:hover {
      opacity: 1;
    }
  }
  
  .card {
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
  
    &.border-primary,
    &.border-secondary,
    &.border-success,
    &.border-info,
    &.border-warning,
    &.border-danger,
    &.border-light,
    &.border-dark {
      border-width: 1px;
    }
  }
  
  .alert-dismissible {
    .close {
      padding: 0.5rem 0.75rem;
    }
  }
  
  .list-group {
    &-item-action.active {
      h1, h2, h3, h4, h5, h6 {
        color: $white;
      }
    }
  }
  
  .modal-content {
    border-radius: 0.2rem;
    box-shadow: 0 6px 36px rgba(0,0,0,.3);
  }
  
  .popover {
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }
  
  .carousel {
    &-caption {
      h1, h2, h3, h4, h5, h6 {
        color: inherit;
      }
    }
  }