.dropdown {
    .dropdown-menu {
      top: -22px !important;
     > a{
         font-size : 12px;
      }
    }
    .btn-secondary{
      background-color: #ECEFF1;
      font-size : 12px;
      height : 48px;
    }
  }
  
  .page-link {
      padding: $pagination-padding-y-sm $pagination-padding-x-sm;
      font-size: 0.875rem !important;
  }