@mixin ripple($color){
    position: relative;
  
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      margin-left: 0;
      
      background-size: 1000% 1000%;
      background-position: 50%;
      border: none;
      opacity: 0;
      pointer-events: none;
      transition: background .5s, opacity 1s;
    }
  
    &:active:after {
      background-size: 0 0;
      opacity: .2;
      transition: 0s;
    }
  
    &.disabled,
    &[disabled] {
      &:after {
        display: none;
      }
    }
  }