.alert {
    padding-right: 2.5rem;
  
    &, h1, h2, h3, h4, h5, h6 {
      color: #fff;
    }
  
    @each $color, $value in $theme-colors {
      &-#{$color} {
        background-color: $value;
      }
    }
  
    a:not(.btn),
    .alert-link {
      color: #fff;
      font-weight: bold;
    }
  
    .close {
      color: #fff;
    }
  
    &-secondary,
    &-light {
      &,
      & a:not(.btn),
      & .alert-link {
        color: $body-color;
      }
    }
  }
  
  .badge {
  
    &-secondary {
      background-color: $gray-500;
      color: $white;
    }
  
    &-light {
      background-color: $gray-200;
    }
  
    &-warning {
      color: $white;
    }
  }
  
  .tag {
    padding: 4px 6px 4px;
  }