.nav-tabs {
    .nav-item + .nav-item {
      margin-left: 0;
    }
  
    .nav-link,
    .nav-link:focus {
      margin-right: 0;
      background-color: transparent;
      border: none;
      color: lighten($body-color, 5%); //transparent 50%
      box-shadow: inset 0 -1px 0 #ddd;
      transition: all 0.2s;
      font-weight: 600;
      text-transform: uppercase;
  
      &:hover {
        background-color: transparent;
        box-shadow: inset 0 -2px 0 $primary;
        color: $primary;
      }
    }
  
    .nav-link.active,
    .nav-link.active:focus {
      border: none;
      box-shadow: inset 0 -2px 0 $primary;
      color: $body-color;
  
      &:hover {
        border: none;
        color: $primary;
      }
    }
  
    .nav-link.disabled {
      box-shadow: inset 0 -1px 0 #ddd;
    }
  
    &.nav-justified {
  
      .nav-link,
      .nav-link:hover,
      .nav-link:focus,
      .nav-link.active,
      .nav-link.active:hover,
      .nav-link.active:focus {
        border: none;
      }
    }
  
    .dropdown-menu {
      margin-top: 0;
    }
  }
  
  .dropdown-menu {
    margin-top: 0;
    border: none;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
  }
  .navbar {
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    padding: $nav-link-padding-y $nav-link-padding-x;
  
    
    &-brand {
      font-size: 24px;
    }
  
    &-nav .nav-link {
      text-transform: uppercase;
      font-size : 12px;
      font-weight: bold;
    }
  
    &.bg-dark,
    &.bg-primary {
  
      input[type=text],
      input[type=password] {
        color: #fff;
        box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  
        &:focus {
          box-shadow: inset 0 -2px 0 #fff;
        }
  
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .nav-tabs.md-tabs {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: $primary;
    z-index: 1;
    position: relative;
    -webkit-border-radius: .25rem;
    border-radius: .25rem;
    .nav-link {
      color: #fff !important;
      font-weight: 700;
      font-size: 14px;
      box-shadow: none !important;
    }
    .nav-link.active {
      background-color: rgba(0,0,0,.2);
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      -webkit-border-radius: .25rem;
      border-radius: .25rem;
    }
  }
  .tab-content {
    padding: 1rem;
    padding-top: 2rem;
    .vertical {
      padding-top: 0;
    }
  }