
$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" !default;
@import url($web-font-path);

body,
input,
button {
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

p {
  margin: 0 0 1em;
}

a {
  transition: all 0.2s;
}

h3, h4, h6 {
  font-weight: 500;
}

h5 {
  font-weight: 700;
}

h2.card-title,
h2.modal-title {
  font-weight: 500;
}